body {
    margin: 0px;
    overflow: hidden;
  }
  
  circle {
    fill: burlywood;
    opacity: 0.3;
    stroke: gold;
  }
  
  text {
    font-family: sans-serif;
  }
  
  .tick text {
    font-size: 2.7em;
    fill: #635F5D;
  }
  
  .tick line {
    stroke: #C0C0BB;
  }
  
  .axis-label {
    font-size: 5em;
    fill: #8E8883;
  }
  
  #menus {
    font-size: 2.5em;
    text-align: center;
  }
  
  #menus select {
    font-size: 2.5rem;
  }
  
  #menus select option {
    font-size: 1rem;
  }