body {
  margin: 0px;
  overflow: hidden;
}
circle {
  fill: yellowgreen;
  opacity: 0.3;
  stroke: green;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 2.7em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 5em;
  fill: #8E8883;
}

.title {
  font-size: 3.7em;
  fill: #635F5D;
}